<!DOCTYPE html>
<html>
    <head>
        <title>Document 1</title>
    </head>
    <body bgcolor="#E6E6FA" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtfJuFzjmHwsYIkQRHPm6vRujvijw-bHlikvHGVke_l-4ljrT-5g')">
        <div>
            <h1><a href="/">Sachin's Work</a></h1>
        </div>

        <div>
            <p>published: 14.08.2018, 12:14</p>
            <h2><a href="">My Project</a></h2>
            <p> Work is worship</p>
        </div>

        <div>
            <p>published: 14.08.2018, 12:14</p>
            <h2><a href="">My second Project</a></h2>
            <p>Hard Work</p>
        </div>

    </body>
</html>